:root {
  /* Tipografías y colores */
  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el body ocupe toda la pantalla */
  background-color: var(--background-color);
}

main {
  flex: 1; /* Toma todo el espacio disponible entre header y footer */
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  border-top: 1px solid #444;
}